name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test-core:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: spoke

    services:
      mqtt-broker:
        image: emqx
        ports:
          - 1883:1883

    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          gleam-version: "1.7.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: gleam run -m integration_tests
      - run: gleam format --check src test

  test-tcp:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: spoke_tcp

    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          gleam-version: "1.7.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
